
<div class="container" style="margin-top: 5%;">
  <div class="row">
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-3">
              <img src='<%= @image_path %>', style="height:290px;">
            </div>
            <div class="col-md-9">
                <!-- accordian start -->
                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h6 class="mb-0">Predictive Analysis</h6>
                        </button>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <h6 class="text-center">24 Hour Mortality Probability</h6>
                        <h3 class="text-danger text-center mt-2"><%= @patient_risk_str %></h3>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <h6 class="mb-0">Patient Details</h6>
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        <table class="table table-striped">
                          <tr>
                            <td style="color:#ce4e4e">Patient ID</td>
                            <td><%=@patient_ID%></td>
                          </tr>
                          <tr>
                            <td style="color:#ce4e4e">DOB</td>
                            <td><%=@patient_DOB%></td>
                          </tr>
                          <tr>
                            <td style="color:#ce4e4e">Age</td>
                            <td><%=@patient_age%></td>
                          </tr>
                          <tr>
                            <td style="color:#ce4e4e">Arrived Time</td>
                            <td><%=@patient_arrive_time%></td>
                          </tr>
                          <tr>
                            <td style="color:#ce4e4e">ICU Arrival Time</td>
                            <td><%=@patient_ICU_time%></td>
                          </tr>
                          <tr>
                            <td style="color:#ce4e4e">Gender</td>
                            <td><%=@patient_gender%></td>
                          </tr>
                          <tr>
                            <td style="color:#ce4e4e">Ethnicity</td>
                            <td><%=@patient_ethnicity%></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                      <!-- card end -->
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <h6 class="mb-0">Model Details</h6>
                        </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        <table class="table table-striped">
                          <tr>
                            <td style="color:#ce4e4e">Model Parameters</td>
                            <td><%=@model_params%></td>
                          </tr>
                          <tr>
                            <td style="color:#ce4e4e">MSE</td>
                            <td><%=@model_MSE%></td>
                          </tr>
                          <tr>
                            <td style="color:#ce4e4e">F1 Score</td>
                            <td><%=@model_F1%></td>
                          </tr>
                          <tr>
                            <td style="color:#ce4e4e">ROC Score</td>
                            <td><%=@model_AUC%></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                      
                  </div>
                </div>
              </div> 
            <!-- accordian end -->
            </div>
        </div>
    </div>
    
    <div class="col-md-7">
        <div  id = "HeartRate", align="right", class="col-md-12 active">
            <h2 style="text-align:center; width:100%">HeartRate</h2>
            
            <%= line_chart [{name: "Average High HR", data: @HR_series_a}, {name: "Average Resting HR", data: @HR_series_b}, {name: "Patient HR", data: @HR_series_data}],
                label: "Value", xtitle: "Time", ytitle: "Heart Rate", curve: false, points: false,  min: 0,  width: "100%" %>
        </div>
        
        <div id = "SBP", align="right", class="col-md-12", style="display:hidden">
            <h2 style="text-align:center; width:100%">Systolic Arterial BP</h2>
        
            <%= line_chart [{name: "Normal", data: @SBP_series_a}, {name: "Hypertension", data: @SBP_series_b}, {name: "Hypertensive Crisis", data: @SBP_series_c}, {name: "Patient BP", data: @SBP_series_data}],
                label: "Value", xtitle: "Time", ytitle: "Systolic Arterial BP", curve: false, points: false, 
                min: 50, width: "100%" %>
        </div>
        
        <div id = "Creatinine", align="right", class="col-md-12", style="display:hidden">
            <h2 style="text-align:center; width:100%">Creatinine Level</h2>
        
            <%= line_chart [{name: "Creatinine Level", data: @Creatinine_series_data}],
                label: "Value", xtitle: "Time", ytitle: "Creatinine Level", curve: false, points: false,  min: 0, width: "100%" %>
        </div>
        
        <div id = "Platelet", align="right", class="col-md-12", style="display:hidden">
            <h2 style="text-align:center; width:100%">Platelet Count</h2>
        
            <%= line_chart [{name: "Low Platelet Count", data: @Platelet_series_a}, {name: "Platelet Count", data: @Platelet_series_data}],
                label: "Value", xtitle: "Time", ytitle: "Platelet Count", curve: false, points: false, min: 0, width: "100%" %>
        </div>
        
        <!-- Have to do this here else the plot axis freak out and don't display all of thier data -->
        <script>
            document.getElementById("SBP").style.display = "none";
            document.getElementById("Creatinine").style.display = "none";
            document.getElementById("Platelet").style.display = "none";
        </script>
        
        <div class="container-fluid text-center ml-2 mt-3">
            <button class="btn btn-primary ml-2", onclick="ShowHide(event, 'HeartRate')">HeartRate</button>
            <button class="btn btn-primary ml-2", onclick="ShowHide(event, 'SBP')">Systolic Arterial BP</button>
            <button class="btn btn-primary ml-2", onclick="ShowHide(event, 'Creatinine')">Creatinine</button>
            <button class="btn btn-primary ml-2", onclick="ShowHide(event, 'Platelet')">Platelet Count</button>
        </div>
    </div>
  </div>
  
  <hr class="mt-3 mb-3">
  
  <div class="row">
    <div class="col">
        <button class="btn btn-danger active" onclick="OpenNotes(event, 'doctor_notes')">Doctor</button>
        <button class="btn btn-info ml-3" onclick="OpenNotes(event, 'event_notes')">Event</button>
        <button class="btn btn-success ml-3" onclick="OpenNotes(event, 'discharge_notes')">Discharge</button>

      <div class="tab-content card mt-4">
          <div id="doctor_notes" class="tab-pane active">
            <div class="card-header" style="background:#ce4e4e">
              <h3>Most Recent Doctor Notes</h3>
            </div>
            <div class="card-body">
              <p><%= @doctor_notes %> </p>
            </div>
          </div>
          
          <div id="event_notes" class="tab-pane">
            <div class="card-header" style="background:#ecd36b;color:#2b2a2d">
              <h3>Most Recent Event Notes</h3>
            </div>
            <div class="card-body">
              <p><%= @event_notes %> </p>
            </div>
          </div>
          
          <div id="discharge_notes" class="tab-pane">
            <div class="card-header" style="background:#5cb85c">
              <h3>Most Recent Discharge Notes</h3>
            </div>
            <div class="card-body">
              <p><%= @discharge_notes %> </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>