
<div id = "top">
    <div id = "left">
       <img src = <%= @image_path %> width = "35%" height = "55%", align="left">
       <p> <br> <br> <br> <br>Patient Risk: <%= @patient_risk %> <br>Model 1 Risk: <%= @model1_risk %><br>Model 2 Risk: <%= @model2_risk %><br>Model 3 Risk: <%= @model3_risk %><br> Model 4 Risk: <%= @model4_risk %> <br> INFO TEXT INFO TEXT INFO TEXT <br> INFO TEXT INFO TEXT INFO TEXT <br> INFO TEXT INFO TEXT INFO TEXT</p>
    </div>
    

    <div id = "right">
        
        <!–– Graphs ––>
        
        <div  id = "HeartRate", align="right", class="col-xs-6">
            <h2 style="text-align:center; width:100%">HeartRate</h2>
            
            <%= line_chart [{name: "Average High HR", data: @HR_series_a}, {name: "Average Resting HR", data: @HR_series_b}],
                label: "Value", xtitle: "Time", ytitle: "Heart Rate", curve: false, points: false, 
                min: 0,  width: "100%" %>
        </div>
        
        <div id = "SBP", align="right", class="col-xs-6", style="display:none">
            <h2 style="text-align:center; width:100%">Systolic Arterial BP</h2>
    
            <%= line_chart [{name: "Normal", data: @DBP_series_a}, {name: "Hypertension", data: @DBP_series_b}, {name: "Hypertensive Crisis", data: @DBP_series_c}],
                label: "Value", xtitle: "Time", ytitle: "Systolic Arterial BP", curve: false, points: false, 
                min: 0, width: "100%" %>
        </div>
    
        <div id = "DBP", align="right", class="col-xs-6", style="display:none">
            <h2 style="text-align:center; width:100%">Diastolic Arterial BP</h2>
    
            <%= line_chart [{name: "Normal", data: @DBP_series_a}, {name: "Hypertension", data: @DBP_series_b}, {name: "Hypertensive Crisis", data: @DBP_series_c}],
                label: "Value", xtitle: "Time", ytitle: "Diastolic Arterial BP", curve: false, points: false, 
                min: 0, width: "100%" %>
        </div>
    
        <div id = "Temp", align="right", class="col-xs-6", style="display:none">
            <h2 style="text-align:center; width:100%">Tempurature</h2>
    
            <%= line_chart [{name: "Hyperthermia", data: @Temp_series_a}, {name: "Hypothermia", data: @Temp_series_b}],
                label: "Value", xtitle: "Time", ytitle: "Tempurature", curve: false, points: false, 
                min: 90, max: 110, width: "100%" %>
        </div>
    
        <div id = "Sp02", align="right", class="col-xs-6", style="display:none">
            <h2 style="text-align:center; width:100%">SpO2</h2>
            
            <%= line_chart [{name: "Hypoxemia", data: @SP_series_a}],
                label: "Value", xtitle: "Time", ytitle: "SpO2", curve: false, points: false, 
                min: 80, max: 100, width: "100%" %>
        </div>
    
        <div style="text-align:center;">
            <button class="graphtoggle", onclick="ShowHide(event, 'HeartRate')">HeartRate</button>
            <button class="graphtoggle", onclick="ShowHide(event, 'SBP')">Systolic Arterial BP</button>
            <button class="graphtoggle", onclick="ShowHide(event, 'DBP')">Diastolic Arterial BP</button>
            <button class="graphtoggle", onclick="ShowHide(event, 'Temp')">Tempurature</button>
            <button class="graphtoggle", onclick="ShowHide(event, 'Sp02')">SpO2</button>
        </div>
    </div>
</div>


<!–– Doctors notes ––>
<div id = "bottom">
    <div class="tab">
      <button class="tablinks" onclick="OpenNotes(event, 'doctor_notes')">Doctor</button>
      <button class="tablinks" onclick="OpenNotes(event, 'nurse_notes')">Nurse</button>
      <button class="tablinks" onclick="OpenNotes(event, 'discharge_notes')">Discharge</button>
    </div>

    <!-- Tab content -->
    <div id="doctor_notes" class="tabcontent">
      <h3>Doctor</h3>
      <p><%= @doctor_notes %> </p>
    </div>
    
    <div id="nurse_notes" class="tabcontent">
      <h3>Nurse</h3>
      <p><%= @nurse_notes %></p> 
    </div>
    
    <div id="discharge_notes" class="tabcontent">
      <h3>Discharge</h3>
      <p><%= @discharge_notes %></p>
    </div>
</div>



<script> 
function ShowHide(evt, ID)
{
    
    var i, graphs, toggles;
    
    // Get all elements and hide them all
    graphs = document.getElementsByClassName("col-xs-6");
    for (i = 0; i < graphs.length; i++) 
    {
        graphs[i].style.display = "none";
    }
    
    toggles = document.getElementsByClassName("graphtoggle");
    for (i = 0; i < toggles.length; i++) 
    {
        toggles[i].className = toggles[i].className.replace(" active", "");
    }
    
    document.getElementById(ID).style.display = "block";
    evt.currentTarget.className += " active";
}  
    
    
function OpenNotes(evt, ID) 
{
    
    var i, tabcontent, tablinks;
    
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++)
    {
        tabcontent[i].style.display = "none";
    }
    
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++)
    {   
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    
    document.getElementById(ID).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>