<!DOCTYPE html>
<html>
  <head>
    <title>EHRPredictUi New Repo</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    
    <%= csrf_meta_tags %>
  </head>

  <body class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>EHR Predict</h3>
        </div>

        <ul class="list-unstyled components mt-0 pt-0">
          <li>
            <a href="/analysis">Analysis</a>
          </li>
          <li>
            <a href="/guidelines">Guidelines</a>
          </li>
        </ul>
        
        <%= image_tag("EHR-Predict_Logo 2.png", :class => 'fixed-bottom ml-3', :style => "height:23%;")%>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-info text-center" role="alert">
        <%= flash[:notice] %>
      </div>
    <%elsif flash[:success] %>
      <div class="alert alert-success text-center" role="alert">
        <%= flash[:success] %>
      </div>
    <%elsif flash[:warning] %>
      <div class="alert alert-danger text-center" role="alert">
        <%= flash[:warning] %>
      </div>
    <%elsif flash[:alert] %>
      <div class="alert alert-danger text-center" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
